Selecting Subsets of Data

In this chapter, we will cover the following topics:

    Selecting Series data
    Selecting DataFrame rows
    Selecting DataFrame rows and columns simultaneously
    Selecting data with both integers and labels
    Speeding up scalar selection
    Slicing rows lazily
    Slicing lexicographically

    Both .loc and .iloc work with Series and DataFrames. 
    This recipe shows how to select Series data 
    by integer location with .iloc and 
    by label with .loc. These indexers not only take scalar values, but also lists and slices.

In [7]:
import pandas as pd 
college = pd.read_csv('data/college.csv', index_col='INSTNM')
city = college['CITY']

In [10]:
print(city.head())
print(city.shape)

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object
(7535,)

In [19]:
print("city[3]",city[3])
print("city.iloc[3]",city.iloc[3])
print("\ncity.iloc[[10,20,30]]\n",city.iloc[[10,20,30]])

city[3] Huntsville
city.iloc[3] Huntsville

city.iloc[[10,20,30]]
 INSTNM
Birmingham Southern College                            Birmingham
George C Wallace State Community College-Hanceville    Hanceville
Judson College                                             Marion
Name: CITY, dtype: object

#### .loc indexer
.loc indexer, which selects only with index labels. Passing a single string returns a scalar value

In [20]:
city.loc['Heritage Christian University']

'Florence'

In [24]:
print ("city.loc[1] gives error")

city.loc[1] gives error

In [25]:
city.iloc[[3]]

INSTNM
University of Alabama in Huntsville    Huntsville
Name: CITY, dtype: object

In [26]:
city.iloc[3]

'Huntsville'

**Selecting DataFrame rows**

The most explicit and preferred way to select DataFrame rows is with the _.iloc_ and _.loc_
indexers. They are capable of selecting rows or columns independently and
simultaneously.

In [29]:
college.iloc[3].T

CITY                  Huntsville
STABBR                        AL
HBCU                           0
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       0
SATVRMID                     595
SATMTMID                     590
DISTANCEONLY                   0
UGDS                        5451
UGDS_WHITE                0.6988
UGDS_BLACK                0.1255
UGDS_HISP                 0.0382
UGDS_ASIAN                0.0376
UGDS_AIAN                 0.0143
UGDS_NHPI                 0.0002
UGDS_2MOR                 0.0172
UGDS_NRA                  0.0332
UGDS_UNKN                  0.035
PPTUG_EF                  0.2146
CURROPER                       1
PCTPELL                   0.3072
PCTFLOAN                  0.4596
UG25ABV                    0.264
MD_EARN_WNE_P10            45500
GRAD_DEBT_MDN_SUPP         24097
Name: University of Alabama in Huntsville, dtype: object

In [31]:
# Using iloc to get the same result
college.loc['University of Alabama in Huntsville']

CITY                  Huntsville
STABBR                        AL
HBCU                           0
MENONLY                        0
WOMENONLY                      0
RELAFFIL                       0
SATVRMID                     595
SATMTMID                     590
DISTANCEONLY                   0
UGDS                        5451
UGDS_WHITE                0.6988
UGDS_BLACK                0.1255
UGDS_HISP                 0.0382
UGDS_ASIAN                0.0376
UGDS_AIAN                 0.0143
UGDS_NHPI                 0.0002
UGDS_2MOR                 0.0172
UGDS_NRA                  0.0332
UGDS_UNKN                  0.035
PPTUG_EF                  0.2146
CURROPER                       1
PCTPELL                   0.3072
PCTFLOAN                  0.4596
UG25ABV                    0.264
MD_EARN_WNE_P10            45500
GRAD_DEBT_MDN_SUPP         24097
Name: University of Alabama in Huntsville, dtype: object

In [33]:
# To fetch rows based on row numbers 
college.iloc[[10,20,22]]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,1180.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
George C Wallace State Community College-Hanceville,Hanceville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,4920.0,...,0.0000,0.0059,0.0183,0.4203,1,0.5026,0.4192,0.3229,28800,11186
Herzing University-Birmingham,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,302.0,...,0.0563,0.0000,0.0397,0.5497,1,0.6541,0.7736,0.7813,42300,23216.5

In [36]:
# Fetch the rows based on index names
labels = ['University of Alaska Anchorage',
'International Academy of Hair Design',
'University of Alabama in Huntsville']
college.loc[labels]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
University of Alaska Anchorage,Anchorage,AK,0.0,0.0,0.0,0,NaN,NaN,0.0,12865.0,...,0.0980,0.0181,0.0457,0.4539,1,0.2385,0.2647,0.4386,42500,19449.5
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097

In [39]:
# Use slice notation with .iloc to select an entire segment of the data
college.iloc[93:98]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Avalon School of Cosmetology-Mesa,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,360.0,...,0.0250,0.0000,0.0222,0.3667,1,0.6218,0.6495,0.2930,19600,11458
Eastern Arizona College,Thatcher,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,4634.0,...,0.0108,0.0093,0.0358,0.6196,1,0.1859,0.0000,0.5279,28700,PrivacySuppressed
Embry-Riddle Aeronautical University-Prescott,Prescott,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,1971.0,...,0.0939,0.0989,0.0949,0.0518,1,0.2501,0.5189,0.1208,61500,24411
Frank Lloyd Wright School of Architecture,Scottsdale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,1,NaN,NaN,0.0000,NaN,PrivacySuppressed
Glendale Community College,Glendale,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,16156.0,...,0.0221,0.0106,0.0480,0.6157,1,0.3824,0.1784,0.3324,33600,7000

In [40]:
>>> start = 'International Academy of Hair Design'
>>> stop = 'Mesa Community College'
>>> college.loc[start:stop]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
International Academy of Hair Design,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,188.0,...,0.0160,0.0000,0.0638,0.0000,0,0.7185,0.7346,0.3905,22200,10556
GateWay Community College,Phoenix,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,5211.0,...,0.0127,0.0161,0.0702,0.7465,1,0.3270,0.2189,0.5832,29800,7283
Mesa Community College,Mesa,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,19055.0,...,0.0205,0.0257,0.0682,0.6457,1,0.3423,0.2207,0.4010,35200,8000

In [42]:
college.iloc[2:4]

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.854,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.264,45500,24097