In [1]:
                                                                                                                                                                                                                                                                                                        import pandas as pd

In [2]:
movie = pd.read_csv('./data/movie.csv',index_col='movie_title')

In [3]:
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,,,,,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

##### Note
    The DataFrame indexing operator is capable of accepting a number of different objects. 
    If a string is passed, it will return a single-dimensional Series. 
    If a list is passed to the indexing operator, it returns a DataFrame of all the columns in the list in the specified order

In [5]:
#### Selecting multiple DataFrame columns

In [6]:
movie_actor_director = movie[['actor_1_name', 'actor_2_name',
                                  'actor_3_name', 'director_name']]
movie_actor_director.head()

,actor_1_name,actor_2_name,actor_3_name,director_name
movie_title,,,,
Avatar,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN,Doug Walker

In [7]:
# Fetching Columns with a List
cols = ['actor_1_name', 'actor_2_name', 'actor_3_name', 'director_name']
movie_actor_director = movie[cols]
movie_actor_director.head()

,actor_1_name,actor_2_name,actor_3_name,director_name
movie_title,,,,
Avatar,CCH Pounder,Joel David Moore,Wes Studi,James Cameron
Pirates of the Caribbean: At World's End,Johnny Depp,Orlando Bloom,Jack Davenport,Gore Verbinski
Spectre,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Sam Mendes
The Dark Knight Rises,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Christopher Nolan
Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,NaN,Doug Walker

In [9]:
#### Selecting columns with methods

In [10]:
movie.get_dtype_counts()

float64    13
int64       3
object     11
dtype: int64

In [11]:
# Fetcing columns of type 'object'
movie.select_dtypes(include=['object']).head()

,color,director_name,actor_2_name,genres,actor_1_name,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
movie_title,,,,,,,,,,,
Avatar,Color,James Cameron,Joel David Moore,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,Wes Studi,avatar|future|marine|native|paraplegic,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,English,USA,PG-13
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,Orlando Bloom,Action|Adventure|Fantasy,Johnny Depp,Jack Davenport,goddess|marriage ceremony|marriage proposal|pi...,http://www.imdb.com/title/tt0449088/?ref_=fn_t...,English,USA,PG-13
Spectre,Color,Sam Mendes,Rory Kinnear,Action|Adventure|Thriller,Christoph Waltz,Stephanie Sigman,bomb|espionage|sequel|spy|terrorist,http://www.imdb.com/title/tt2379713/?ref_=fn_t...,English,UK,PG-13
The Dark Knight Rises,Color,Christopher Nolan,Christian Bale,Action|Thriller,Tom Hardy,Joseph Gordon-Levitt,deception|imprisonment|lawlessness|police offi...,http://www.imdb.com/title/tt1345836/?ref_=fn_t...,English,USA,PG-13
Star Wars: Episode VII - The Force Awakens,NaN,Doug Walker,Rob Walker,Documentary,Doug Walker,NaN,NaN,http://www.imdb.com/title/tt5289954/?ref_=fn_t...,NaN,NaN,NaN

In [12]:
# Fetcing columns of type 'int64'
movie.select_dtypes(include=['int64']).head()

,num_voted_users,cast_total_facebook_likes,movie_facebook_likes
movie_title,,,
Avatar,886204,4834,33000
Pirates of the Caribbean: At World's End,471220,48350,0
Spectre,275868,11700,85000
The Dark Knight Rises,1144337,106759,164000
Star Wars: Episode VII - The Force Awakens,8,143,0

In [15]:
#movie.select_dtypes(include='np.number').head()

In [16]:
# Filter columns with string 'name'
movie.filter(like='name').head()

,director_name,actor_2_name,actor_1_name,actor_3_name
movie_title,,,,
Avatar,James Cameron,Joel David Moore,CCH Pounder,Wes Studi
Pirates of the Caribbean: At World's End,Gore Verbinski,Orlando Bloom,Johnny Depp,Jack Davenport
Spectre,Sam Mendes,Rory Kinnear,Christoph Waltz,Stephanie Sigman
The Dark Knight Rises,Christopher Nolan,Christian Bale,Tom Hardy,Joseph Gordon-Levitt
Star Wars: Episode VII - The Force Awakens,Doug Walker,Rob Walker,Doug Walker,NaN

In [17]:
# Filter columns with digit in name 
movie.filter(regex='\d').head()

,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,actor_1_name,actor_3_name,actor_2_facebook_likes
movie_title,,,,,,
Avatar,855.0,Joel David Moore,1000.0,CCH Pounder,Wes Studi,936.0
Pirates of the Caribbean: At World's End,1000.0,Orlando Bloom,40000.0,Johnny Depp,Jack Davenport,5000.0
Spectre,161.0,Rory Kinnear,11000.0,Christoph Waltz,Stephanie Sigman,393.0
The Dark Knight Rises,23000.0,Christian Bale,27000.0,Tom Hardy,Joseph Gordon-Levitt,23000.0
Star Wars: Episode VII - The Force Awakens,NaN,Rob Walker,131.0,Doug Walker,NaN,12.0

#### Ordering column names sensibly
1. Classify each column as either discrete or continuous
2. Group common columns within the discrete and continuous columns
3. Place the most important groups of columns first with categorical columns before continuous ones

In [24]:
movie=pd.read_csv('data/movie.csv')

In [26]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [27]:
>>> disc_core = ['movie_title', 'title_year',
                 'content_rating', 'genres']
>>> disc_people = ['director_name', 'actor_1_name', 
                   'actor_2_name', 'actor_3_name']
>>> disc_other = ['color', 'country', 'language', 
                  'plot_keywords', 'movie_imdb_link']

>>> cont_fb = ['director_facebook_likes', 'actor_1_facebook_likes', 
               'actor_2_facebook_likes', 'actor_3_facebook_likes',
               'cast_total_facebook_likes', 'movie_facebook_likes']

>>> cont_finance = ['budget', 'gross']
>>> cont_num_reviews = ['num_voted_users', 'num_user_for_reviews',
                        'num_critic_for_reviews']
>>> cont_other = ['imdb_score', 'duration',
                  'aspect_ratio', 'facenumber_in_poster']

In [28]:
>>> new_col_order = disc_core + disc_people + \
                    disc_other + cont_fb + \
                    cont_finance + cont_num_reviews + \
                    cont_other

In [29]:
>>> set(movie.columns) == set(new_col_order)

True

In [30]:
movie2 = movie[new_col_order]
movie2.head()

,movie_title,title_year,content_rating,genres,director_name,actor_1_name,actor_2_name,actor_3_name,color,country,...,movie_facebook_likes,budget,gross,num_voted_users,num_user_for_reviews,num_critic_for_reviews,imdb_score,duration,aspect_ratio,facenumber_in_poster
0,Avatar,2009.0,PG-13,Action|Adventure|Fantasy|Sci-Fi,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Color,USA,...,33000,237000000.0,760505847.0,886204,3054.0,723.0,7.9,178.0,1.78,0.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,Action|Adventure|Fantasy,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Color,USA,...,0,300000000.0,309404152.0,471220,1238.0,302.0,7.1,169.0,2.35,0.0
2,Spectre,2015.0,PG-13,Action|Adventure|Thriller,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Color,UK,...,85000,245000000.0,200074175.0,275868,994.0,602.0,6.8,148.0,2.35,1.0
3,The Dark Knight Rises,2012.0,PG-13,Action|Thriller,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Color,USA,...,164000,250000000.0,448130642.0,1144337,2701.0,813.0,8.5,164.0,2.35,0.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,Documentary,Doug Walker,Doug Walker,Rob Walker,NaN,NaN,NaN,...,0,NaN,NaN,8,NaN,NaN,7.1,NaN,NaN,0.0

##### Operating on the entire DataFrame

In [31]:
movie = pd.read_csv('data/movie.csv')
print ('movie.shape',movie.shape)
print ('movie.size',movie.size)
print ('movie.ndim',movie.ndim)
print ('len(movie)',len(movie))

movie.shape (4916, 28)
movie.size 137648
movie.ndim 2
len(movie) 4916

In [8]:
movie.count().head()

color                      4897
director_name              4814
num_critic_for_reviews     4867
duration                   4901
director_facebook_likes    4814
dtype: int64

In [6]:
movie.min(skipna=True).head()

num_critic_for_reviews     1.0
duration                   7.0
director_facebook_likes    0.0
actor_3_facebook_likes     0.0
actor_1_facebook_likes     0.0
dtype: float64

In [7]:
movie.min(skipna=False).head()

C:\Tools\Anaconda3\lib\site-packages\numpy\core\_methods.py:29: RuntimeWarning: invalid value encountered in reduce
  return umr_minimum(a, axis, None, out, keepdims)

num_critic_for_reviews    NaN
duration                  NaN
director_facebook_likes   NaN
actor_3_facebook_likes    NaN
actor_1_facebook_likes    NaN
dtype: float64

In [35]:
movie.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,49.000000,93.000000,7.000000,132.000000,607.000000,5.019656e+06,8.361750e+03,1394.750000,0.000000,64.000000,6.000000e+06,1999.000000,277.000000,5.800000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
75%,191.000000,118.000000,189.750000,633.000000,11000.000000,6.110841e+07,9.377275e+04,13616.750000,2.000000,320.500000,4.300000e+07,2011.000000,912.000000,7.200000,2.350000,2000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [36]:
movie.describe(percentiles=[.01, .3, .99])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
1%,2.000000,43.000000,0.000000,0.000000,6.080000,8.474800e+03,5.300000e+01,6.000000,0.000000,1.940000,6.000000e+04,1951.000000,0.000000,3.100000,1.330000,0.000000
30%,60.000000,95.000000,11.000000,176.000000,694.000000,7.914069e+06,1.186450e+04,1684.500000,0.000000,80.000000,8.000000e+06,2000.000000,345.000000,6.000000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
99%,546.680000,189.000000,16000.000000,11000.000000,44920.000000,3.264128e+08,6.815846e+05,62413.900000,8.000000,1999.240000,2.000000e+08,2016.000000,17000.000000,8.500000,4.000000,93850.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [37]:
# Specify exact quantiles in the describe method using the percentiles parameter:
movie.describe(percentiles=[.1, .3, .9])

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4867.000000,4901.000000,4814.000000,4893.000000,4909.000000,4.054000e+03,4.916000e+03,4916.000000,4903.000000,4895.000000,4.432000e+03,4810.000000,4903.000000,4916.000000,4590.000000,4916.000000
mean,137.988905,107.090798,691.014541,631.276313,6494.488491,4.764451e+07,8.264492e+04,9579.815907,1.377320,267.668846,3.654749e+07,2002.447609,1621.923516,6.437429,2.222349,7348.294142
std,120.239379,25.286015,2832.954125,1625.874802,15106.986884,6.737255e+07,1.383222e+05,18164.316990,2.023826,372.934839,1.002427e+08,12.453977,4011.299523,1.127802,1.402940,19206.016458
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
10%,17.000000,86.000000,0.000000,32.000000,240.000000,3.744191e+05,1.593500e+03,509.500000,0.000000,21.000000,1.380020e+06,1988.000000,78.000000,5.000000,1.850000,0.000000
30%,60.000000,95.000000,11.000000,176.000000,694.000000,7.914069e+06,1.186450e+04,1684.500000,0.000000,80.000000,8.000000e+06,2000.000000,345.000000,6.000000,1.850000,0.000000
50%,108.000000,103.000000,48.000000,366.000000,982.000000,2.504396e+07,3.313250e+04,3049.000000,1.000000,153.000000,1.985000e+07,2005.000000,593.000000,6.600000,2.350000,159.000000
90%,294.000000,134.000000,545.000000,890.800000,18000.000000,1.229029e+08,2.138805e+05,25594.500000,4.000000,620.600000,8.000000e+07,2014.000000,3000.000000,7.800000,2.350000,23000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,4.200000e+09,2016.000000,137000.000000,9.500000,16.000000,349000.000000

#### Chaining DataFrame methods together

In [10]:
movie = pd.read_csv('data/movie.csv')

In [11]:
movie.isnull().head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

In [40]:
movie.isnull().sum().head()

color                       19
director_name              102
num_critic_for_reviews      49
duration                    15
director_facebook_likes    102
dtype: int64

In [41]:
movie.isnull().sum().sum()

2654

In [47]:
#print('movie.isnull() :',movie.isnull())
print('movie.isnull().any()head() ')
print(movie.isnull().any().head())
print('\n')
print('movie.isnull().any().any() :',movie.isnull().any().any())

movie.isnull().any()head()
color                      True
director_name              True
num_critic_for_reviews     True
duration                   True
director_facebook_likes    True
dtype: bool


movie.isnull().any().any() : True

In [12]:
movie.isnull().head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,True,False,True,False,False,True,False,...,True,True,True,True,True,True,False,False,True,False

In [13]:
movie.isnull().get_dtype_counts()

bool    28
dtype: int64

In [20]:
#TBD 
movie[['color', 'movie_title']].max()

Series([], dtype: float64)

In [18]:
movie.select_dtypes(['object']).fillna('').min()

color
director_name
actor_2_name
genres                                                        Action
actor_1_name
movie_title                                                  #Horror
actor_3_name
plot_keywords
movie_imdb_link    http://www.imdb.com/title/tt0006864/?ref_=fn_t...
language
country
content_rating
dtype: object

In [17]:
movie.select_dtypes(['object']) \
         .fillna('') \
         .min()

color
director_name
actor_2_name
genres                                                        Action
actor_1_name
movie_title                                                  #Horror
actor_3_name
plot_keywords
movie_imdb_link    http://www.imdb.com/title/tt0006864/?ref_=fn_t...
language
country
content_rating
dtype: object

#### Working with operators on a DataFrame

In [21]:
college = pd.read_csv('data/college.csv',index_col='INSTNM')

In [22]:
college.head()

,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5

In [23]:
college_ugds = college.filter(like='UGDS_')

In [24]:
college_ugds.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [25]:
# Adding a value to all cells in selected columns
(college_ugds + 0.00501).head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.03831,0.94031,0.01051,0.00691,0.00741,0.00691,0.00501,0.01091,0.01881
University of Alabama at Birmingham,0.59721,0.26501,0.03331,0.05681,0.00721,0.00571,0.04181,0.02291,0.01501
Amridge University,0.30401,0.42421,0.01191,0.00841,0.00501,0.00501,0.00501,0.00501,0.27651
University of Alabama in Huntsville,0.70381,0.13051,0.04321,0.04261,0.01931,0.00521,0.02221,0.03821,0.04001
Alabama State University,0.02081,0.92581,0.01711,0.00691,0.00601,0.00561,0.01481,0.02931,0.01871

In [26]:
# Adding a value to all cells in selected columns
((college_ugds + 0.00501) // .01).head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,3.0,94.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
University of Alabama at Birmingham,59.0,26.0,3.0,5.0,0.0,0.0,4.0,2.0,1.0
Amridge University,30.0,42.0,1.0,0.0,0.0,0.0,0.0,0.0,27.0
University of Alabama in Huntsville,70.0,13.0,4.0,4.0,1.0,0.0,2.0,3.0,4.0
Alabama State University,2.0,92.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0

In [27]:
print('college_ugds.isnull().any()head() ')
print(college_ugds.isnull().any().head())

college_ugds.isnull().any()head()
UGDS_WHITE    True
UGDS_BLACK    True
UGDS_HISP     True
UGDS_ASIAN    True
UGDS_AIAN     True
dtype: bool

In [28]:
0/100

0.0

In [29]:
import pandas as pd 
college = pd.read_csv('data/college.csv',index_col='INSTNM')

college_ugds_head = college.filter(like='UGDS_').head()
college_ugds = college_ugds.fillna(0)

college_ugds_op_round = (college_ugds + 0.00501) // .01
#college_ugds_op_round.div(2)
#college_ugds_op_round = (college_ugds + 0.00501) // .01 /100

#college_ugds_op_round.head()

In [33]:
college_ugds_op_round.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,3.0,94.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
University of Alabama at Birmingham,59.0,26.0,3.0,5.0,0.0,0.0,4.0,2.0,1.0
Amridge University,30.0,42.0,1.0,0.0,0.0,0.0,0.0,0.0,27.0
University of Alabama in Huntsville,70.0,13.0,4.0,4.0,1.0,0.0,2.0,3.0,4.0
Alabama State University,2.0,92.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0

In [32]:
# >>> college_ugds_op_round = (college_ugds+ .00501) // .01 / 100
# >>> college_ugds_op_round.head()

In [34]:
college_ugds_round = (college_ugds + .00001).round(2)
college_ugds_round.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.03,0.94,0.01,0.00,0.00,0.0,0.00,0.01,0.01
University of Alabama at Birmingham,0.59,0.26,0.03,0.05,0.00,0.0,0.04,0.02,0.01
Amridge University,0.30,0.42,0.01,0.00,0.00,0.0,0.00,0.00,0.27
University of Alabama in Huntsville,0.70,0.13,0.04,0.04,0.01,0.0,0.02,0.03,0.04
Alabama State University,0.02,0.92,0.01,0.00,0.00,0.0,0.01,0.02,0.01

In [35]:
college_ugds_op_round.equals(college_ugds_round)

False

In [36]:
xxx= college_ugds.add(.00501).floordiv(0.01)

In [ ]:

xxx.div(100)

In [ ]:
college_ugds_op_round_methods = college_ugds.add(.00501) \
                                                 .floordiv(.01) \
                                                 .div(100)
college_ugds_op_round_methods.equals(college_ugds_op_round)

In [37]:
import pandas as pd 
college = pd.read_csv('data/college.csv',index_col='INSTNM')

college_ugds = college.filter(like='UGDS_')
college_ugds = college_ugds.fillna(0)

college_ugds_op_round = (college_ugds + 0.00501) // .01
college_ugds_op_round
#college_ugds_op_round.div(2)
#college_ugds_op_round = (college_ugds + 0.00501) // .01 /100

#college_ugds_op_round.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,3.0,94.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0
University of Alabama at Birmingham,59.0,26.0,3.0,5.0,0.0,0.0,4.0,2.0,1.0
Amridge University,30.0,42.0,1.0,0.0,0.0,0.0,0.0,0.0,27.0
University of Alabama in Huntsville,70.0,13.0,4.0,4.0,1.0,0.0,2.0,3.0,4.0
Alabama State University,2.0,92.0,1.0,0.0,0.0,0.0,1.0,2.0,1.0
The University of Alabama,78.0,11.0,3.0,1.0,0.0,0.0,3.0,3.0,0.0
Central Alabama Community College,73.0,26.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Athens State University,78.0,12.0,2.0,1.0,2.0,0.0,2.0,1.0,3.0
Auburn University at Montgomery,53.0,34.0,1.0,2.0,0.0,0.0,3.0,4.0,2.0
Auburn University,85.0,7.0,2.0,2.0,1.0,0.0,0.0,1.0,1.0
Birmingham Southern College,80.0,11.0,2.0,5.0,1.0,0.0,1.0,0.0,1.0
Chattahoochee Valley Community College,47.0,44.0,5.0,1.0,0.0,0.0,2.0,0.0,1.0
Concordia College Alabama,3.0,88.0,4.0,1.0,0.0,0.0,0.0,5.0,0.0
South University-Montgomery,30.0,61.0,2.0,2.0,2.0,1.0,0.0,0.0,3.0
Enterprise State Community College,64.0,24.0,5.0,2.0,1.0,0.0,3.0,0.0,1.0
James H Faulkner State Community College,70.0,23.0,3.0,1.0,2.0,0.0,2.0,0.0,0.0
Faulkner University,39.0,51.0,3.0,0.0,1.0,0.0,2.0,2.0,3.0
Gadsden State Community College,69.0,21.0,3.0,0.0,1.0,0.0,2.0,2.0,2.0
New Beginning College of Cosmetology,90.0,3.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0
George C Wallace State Community College-Dothan,63.0,32.0,2.0,1.0,0.0,0.0,1.0,0.0,0.0
George C Wallace State Community College-Hanceville,86.0,6.0,4.0,1.0,1.0,0.0,0.0,1.0,2.0
George C Wallace State Community College-Selma,20.0,74.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
Herzing University-Birmingham,35.0,53.0,2.0,1.0,0.0,0.0,6.0,0.0,4.0
Huntingdon College,64.0,20.0,3.0,1.0,1.0,0.0,3.0,1.0,8.0
Heritage Christian University,74.0,11.0,5.0,0.0,3.0,2.0,0.0,2.0,3.0
J F Drake State Community and Technical College,33.0,60.0,2.0,1.0,1.0,0.0,2.0,0.0,1.0
Jacksonville State University,68.0,24.0,1.0,1.0,1.0,0.0,0.0,2.0,3.0
Jefferson Davis Community College,59.0,30.0,1.0,3.0,3.0,0.0,2.0,0.0,4.0
Jefferson State Community College,67.0,22.0,5.0,2.0,0.0,0.0,3.0,1.0,0.0
John C Calhoun State Community College,65.0,19.0,4.0,3.0,2.0,0.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Piscataway,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Utah County Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
L'esprit Academy - Royal Oak,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
National Career Institute - Jersey City Branch,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Cobb Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Morrow Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Roswell Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Douglasville Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Lithonia Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Savannah Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Augusta Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Columbus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Columbia Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Charleston Campus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Irving,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Katy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Northwest Houston,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Plano,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Cedar Hill,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-North Dallas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-San Antonio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Strayer University-Stafford,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
WestMed College - Merced,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Vantage College,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SAE Institute of Technology San Francisco,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Rasmussen College - Overland Park,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
National Personal Training Institute of Cleveland,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bay Area Medical Academy - San Jose Satellite Location,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Excel Learning Center-San Antonio South,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
college = pd.read_csv('data/college.csv',index_col='INSTNM')
college_ugds = college.filter( like='UGDS_')
college_ugds.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [39]:
college_ugds.isnull().sum()

UGDS_WHITE    661
UGDS_BLACK    661
UGDS_HISP     661
UGDS_ASIAN    661
UGDS_AIAN     661
UGDS_NHPI     661
UGDS_2MOR     661
UGDS_NRA      661
UGDS_UNKN     661
dtype: int64

In [40]:
college_ugds = college_ugds.fillna(0)
college_ugds.isnull().sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [ ]:
# college_ugds = college_ugds.div(100)

#### Comparing missing values

In [41]:
import numpy as np

In [42]:
print('np.nan == np.nan',np.nan == np.nan)
print('None == None',None == None)
print('#All other comparisons against np.nan also return False, except not equal to:')
print('np.nan > 5',np.nan > 5)
print('5 > np.nan',5 > np.nan)
print('np.nan!=5',np.nan != 5)

np.nan == np.nan False
None == None True
#All other comparisons against np.nan also return False, except not equal to:
np.nan > 5 False
5 > np.nan False
np.nan!=5 True

In [43]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds_ = college.filter(like='UGDS_')

In [23]:
(college_ugds_ < 0.5).head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,True,False,True,True,True,True,True,True,True
University of Alabama at Birmingham,False,True,True,True,True,True,True,True,True
Amridge University,True,True,True,True,True,True,True,True,True
University of Alabama in Huntsville,False,True,True,True,True,True,True,True,True
Alabama State University,True,False,True,True,True,True,True,True,True

In [30]:
(college_ugds_ < 0.5).sum()

UGDS_WHITE    3030
UGDS_BLACK    6141
UGDS_HISP     6291
UGDS_ASIAN    6839
UGDS_AIAN     6835
UGDS_NHPI     6865
UGDS_2MOR     6873
UGDS_NRA      6861
UGDS_UNKN     6807
dtype: int64

In [31]:
# Comparping Values to null retrns False 
(college_ugds_==np.nan).sum()

UGDS_WHITE    0
UGDS_BLACK    0
UGDS_HISP     0
UGDS_ASIAN    0
UGDS_AIAN     0
UGDS_NHPI     0
UGDS_2MOR     0
UGDS_NRA      0
UGDS_UNKN     0
dtype: int64

In [33]:
# Comparping Values to null retrns False 
college_ugds_.isnull().sum()

UGDS_WHITE    661
UGDS_BLACK    661
UGDS_HISP     661
UGDS_ASIAN    661
UGDS_AIAN     661
UGDS_NHPI     661
UGDS_2MOR     661
UGDS_NRA      661
UGDS_UNKN     661
dtype: int64

In [34]:
# Compare two dat sets with one another is by comparing them using '.equals()' operator
college_ugds_.equals(college_ugds_)

True

In [ ]:
#### Transposing the direction of a DataFrame operation

In [3]:
import pandas as pd 
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ugds_ = college.filter(like='UGDS_')
college_ugds_.head()

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [5]:
# The count method returns the number of non-missing values. By default, its axis parameter is set to 0:
college_ugds_.count()

UGDS_WHITE    6874
UGDS_BLACK    6874
UGDS_HISP     6874
UGDS_ASIAN    6874
UGDS_AIAN     6874
UGDS_NHPI     6874
UGDS_2MOR     6874
UGDS_NRA      6874
UGDS_UNKN     6874
dtype: int64

In [6]:
college_ugds_.count(axis='columns').head()

INSTNM
Alabama A & M University               9
University of Alabama at Birmingham    9
Amridge University                     9
University of Alabama in Huntsville    9
Alabama State University               9
dtype: int64

In [8]:
# Instead of counting non-missing values, we can sum all the values in each row. 
# Each row of percentages should add up to 1. The sum method may be used to verify this:
college_ugds_.sum(axis='columns').head()

INSTNM
Alabama A & M University               1.0000
University of Alabama at Birmingham    0.9999
Amridge University                     1.0000
University of Alabama in Huntsville    1.0000
Alabama State University               1.0000
dtype: float64

In [10]:
college_ugds_.cumsum(axis=1)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9686,0.9741,0.9760,0.9784,0.9803,0.9803,0.9862,1.0000
University of Alabama at Birmingham,0.5922,0.8522,0.8805,0.9323,0.9345,0.9352,0.9720,0.9899,0.9999
Amridge University,0.2990,0.7182,0.7251,0.7285,0.7285,0.7285,0.7285,0.7285,1.0000
University of Alabama in Huntsville,0.6988,0.8243,0.8625,0.9001,0.9144,0.9146,0.9318,0.9650,1.0000
Alabama State University,0.0158,0.9366,0.9487,0.9506,0.9516,0.9522,0.9620,0.9863,1.0000
The University of Alabama,0.7825,0.8944,0.9292,0.9398,0.9436,0.9445,0.9706,0.9974,1.0000
Central Alabama Community College,0.7255,0.9868,0.9912,0.9937,0.9981,0.9981,0.9981,0.9981,1.0000
Athens State University,0.7823,0.9023,0.9214,0.9267,0.9424,0.9434,0.9608,0.9665,0.9999
Auburn University at Montgomery,0.5328,0.8704,0.8778,0.8999,0.9043,0.9059,0.9356,0.9753,0.9999
Auburn University,0.8507,0.9211,0.9459,0.9686,0.9760,0.9760,0.9760,0.9860,1.0000
Birmingham Southern College,0.7983,0.9085,0.9280,0.9797,0.9899,0.9899,0.9950,0.9950,1.0001
Chattahoochee Valley Community College,0.4661,0.9033,0.9525,0.9652,0.9675,0.9710,0.9861,0.9861,1.0000
Concordia College Alabama,0.0280,0.9038,0.9411,0.9504,0.9504,0.9504,0.9535,1.0001,1.0001
South University-Montgomery,0.3046,0.9100,0.9253,0.9406,0.9559,0.9655,0.9655,0.9674,1.0000
Enterprise State Community College,0.6408,0.8843,0.9352,0.9554,0.9635,0.9664,0.9918,0.9930,0.9999
James H Faulkner State Community College,0.6979,0.9238,0.9558,0.9642,0.9819,0.9833,0.9985,0.9992,1.0001
Faulkner University,0.3874,0.9011,0.9269,0.9311,0.9374,0.9387,0.9560,0.9742,1.0000
Gadsden State Community College,0.6921,0.8997,0.9302,0.9349,0.9477,0.9495,0.9680,0.9830,0.9999
New Beginning College of Cosmetology,0.8957,0.9305,1.0001,1.0001,1.0001,1.0001,1.0001,1.0001,1.0001
George C Wallace State Community College-Dothan,0.6273,0.9513,0.9734,0.9806,0.9855,0.9864,0.9990,0.9990,0.9999
George C Wallace State Community College-Hanceville,0.8630,0.9242,0.9604,0.9669,0.9758,0.9758,0.9758,0.9817,1.0000
George C Wallace State Community College-Selma,0.1956,0.9405,0.9431,0.9471,0.9484,0.9484,0.9517,0.9557,1.0000
Herzing University-Birmingham,0.3543,0.8808,0.8974,0.9040,0.9040,0.9040,0.9603,0.9603,1.0000
Huntingdon College,0.6388,0.8381,0.8633,0.8711,0.8833,0.8850,0.9111,0.9172,0.9999
Heritage Christian University,0.7419,0.8548,0.9032,0.9032,0.9355,0.9516,0.9516,0.9677,1.0000
J F Drake State Community and Technical College,0.3337,0.9302,0.9548,0.9630,0.9743,0.9753,0.9938,0.9938,1.0000
Jacksonville State University,0.6834,0.9216,0.9348,0.9403,0.9475,0.9485,0.9485,0.9719,0.9999
Jefferson Davis Community College,0.5857,0.8839,0.8916,0.9168,0.9420,0.9420,0.9604,0.9604,1.0001
Jefferson State Community College,0.6696,0.8942,0.9428,0.9611,0.9635,0.9643,0.9944,0.9998,0.9999
John C Calhoun State Community College,0.6528,0.8468,0.8903,0.9160,0.9342,0.9348,0.9776,0.9838,1.0000
...,...,...,...,...,...,...,...,...,...
Strayer University-Lawrenceville,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Piscataway,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Utah County Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L'esprit Academy - Royal Oak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Career Institute - Jersey City Branch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cobb Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Morrow Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Roswell Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Douglasville Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Lithonia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Savannah Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Augusta Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Columbia Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Charleston Campus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Irving,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Katy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Northwest Houston,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Plano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Cedar Hill,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-North Dallas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-San Antonio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Strayer University-Stafford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WestMed College - Merced,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vantage College,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SAE Institute of Technology San Francisco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rasmussen College - Overland Park,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
National Personal Training Institute of Cleveland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bay Area Medical Academy - San Jose Satellite Location,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Excel Learning Center-San Antonio South,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#To get an idea of the distribution of each column, the median method can be used:

college_ugds_.median(axis='index')

UGDS_WHITE    0.55570
UGDS_BLACK    0.10005
UGDS_HISP     0.07140
UGDS_ASIAN    0.01290
UGDS_AIAN     0.00260
UGDS_NHPI     0.00000
UGDS_2MOR     0.01750
UGDS_NRA      0.00000
UGDS_UNKN     0.01430
dtype: float64

In [63]:
#### Determining college campus diversity